.about {
	background-color: var(--color-dark-900);

	&__title {
		@include adaptive-value-base('margin-bottom', 60, 40, 1);
	}

	&__wrapper {
		display: flex;
		gap: 40px;
		justify-content: space-between;

		@include mq(md) {
			flex-direction: column;
		}
	}

	&__content,
	&__skills {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__content {
		@include adaptive-value-base('gap', 20, 16, 1);

		@include mq(md, min) {
			max-width: 600px;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding-left: 18px;
			list-style: outside;
			list-style-image: url('../img/icons/circle-gradient.svg');
		}

		li {
			@include adaptive-value-base('padding-left', 8, 4, 1);
		}
	}

	&__skills {
		@include adaptive-value-base('gap', 48, 28, 1);

		@include mq(md, min) {
			max-width: 630px;
		}
	}
}
