<article class="portfolio-card">
    <div class="portfolio-card__swiper swiper">
        <ul class="portfolio-card__items swiper-wrapper">
            <li class="portfolio-card__item swiper-slide">
                <a href="img/portfolio/smm/1.jpg" data-fancybox="1">
                    <picture>
                        <source srcset="img/portfolio/smm/1.avif" type="image/avif">
                        <source srcset="img/portfolio/smm/1.webp" type="image/webp">
                        <img class="portfolio-card__img" src="img/portfolio/smm/1.jpg" alt="Фото" width="655" height="360" loading="lazy">
                    </picture>
                </a>
            </li>
            <li class="portfolio-card__item swiper-slide">
                <div class="video" data-video="https://youtu.be/9pZjtai76JA">
                    <img src="" alt="video">
                    <button class="video__play" aria-label="play video"></button>
                </div>
            </li>
            <li class="portfolio-card__item swiper-slide">
                <div class="video" data-video="https://youtu.be/vmwWEw4f5SI">
                    <img src="" alt="video">
                    <button class="video__play" aria-label="play video"></button>
                </div>
            </li>
        </ul>
        <button class="portfolio-card__button portfolio-card__button--prev swiper-button-prev" type="button">
        </button>
        <button class="portfolio-card__button portfolio-card__button--next swiper-button-next" type="button">
        </button>
    </div>
    <div class="portfolio-card__content">
        <h3 class="portfolio-card__title title title--small">@title</h3>
        <div class="portfolio-card__text">
            @for (var i = 0; i < text.length; i++) { <p> `+text[i]+` </p>
                }
        </div>
        <ul class="portfolio-card__links">
            @for (var i = 0; i < links.length; i++) { <li>
                <a class="portfolio-card__link link-gradient" href=`+links[i].href+` target="_blank">
                    ` +links[i].text+ `
                </a>
                </li>
                }
        </ul>
    </div>
</article>