<header class="header">
    <div class="header__wrapper">
        <div class="container">
            <button class="burger-button" type="button" data-burger-button>
                <span class="burger-button__line"></span>
                <span class="sr-only">Меню</span>
            </button>
            <div class="burger-menu" data-menu>
                <nav class="header__navigation">
                    <ul class="menu">
                        <li class="menu__item">
                            <a class="menu__link" href="#about" data-hover="Экспертиза" data-scroll data-menu-link>
                                Экспертиза
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#directions" data-hover="Направления" data-scroll data-menu-link>
                                Направления
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#portfolio" data-hover="Портфолио" data-scroll data-menu-link>
                                Портфолио
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#experience" data-hover="Опыт работы" data-scroll data-menu-link>
                                Опыт работы
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#contacts" data-hover="Контакты" data-scroll data-menu-link>
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="https://t.me/ginematic" target="_blank" style="background-image: url('img/socials/telegram.svg')">
                            <span class="sr-only">Telegram</span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://vk.com/ginematic" target="_blank" style="background-image: url('img/socials/vkontacte.svg')">
                            <span class="sr-only">Vkontacte</span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://www.linkedin.com/in/raul-keshary-87375a28a/" target="_blank" style="background-image: url('img/socials/linkedin.svg')">
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://discordapp.com/users/299228110526742528/" target="_blank" style="background-image: url('img/socials/discord.svg')">
                            <span class="sr-only">Discord</span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://www.facebook.com/profile.php?id=100070117913167" target="_blank" style="background-image: url('img/socials/facebook.svg')">
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="https://wa.me/qr/XHOSXMWJ27F3P1" target="_blank" style="background-image: url('img/socials/whatsapp.svg')">
                            <span class="sr-only">Whatsapp</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>