:root {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-dark-900: #181818;
	--color-dark-800: #1c1b1b;
	--color-dark-600: #363636;
	--color-grey-100: #d8d8d8;
	--gradient-main: linear-gradient(
		270deg,
		#13adc7 0%,
		#6978d1 66.67%,
		#945dd6 100%
	);

	--font-family-montserrat: 'Montserrat';
	--font-family-gothic: 'Century Gothic';

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}
