.burger-menu {
	@include flex-normal(center, space-between);
	gap: 40px;
	z-index: 15;

	@include mq(lg) {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 270px;
		margin-right: 0;
		padding: 100px 24px 40px;
		overflow: hidden;
		background-color: var(--color-dark-900);
		transform: translateX(100%);
		visibility: hidden;
		transition: transform 0.5s;
		@include flex-direction($justify-content: flex-start);
	}

	&--active {
		@include mq(lg) {
			right: 0;
			z-index: 50;
			height: 100vh;
			overflow-y: auto;
			transform: translateX(0);
			visibility: visible;
			opacity: 1;
			transition: transform 0.3s ease-in-out;
		}
	}

	.menu {
		@include mq(lg) {
			flex-direction: column;
		}
	}
}
