.header {
	position: relative;
	z-index: 20;
	height: 94px;

	&--fixed {
		position: fixed;
		transform: translateY(0);
		transition: transform 0.35s ease-out;
	}

	&__wrapper {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		background-color: var(--color-dark-900);
		@include adaptive-value-base('padding-top', 30, 20, 1);
		@include adaptive-value-base('padding-bottom', 30, 20, 1);
	}

	.menu {
		display: flex;
		gap: 30px;
		align-items: center;
		font-size: 16px;
		line-height: 1.3;

		&__link {
			outline: 0;
			transition: box-shadow 0.3s, border-radius 0.3s, color 0.3s;

			@include focus-visible;

			@include hover-white;

			&:active {
				color: var(--color-grey-500);
			}
		}
	}
}

.socials {
	display: flex;
	gap: 24px;
	align-items: center;

	@include mq(lg) {
		flex-wrap: wrap;
		gap: 28px;
		justify-content: center;
	}

	&__link {
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
		@include bg;

		&::before {
			@include mq(lg) {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 40px;
				height: 40px;
				transform: translate(-50%, -50%);
				content: '';
			}
		}
	}
}
