.header {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	@include adaptive-value-base('padding-top', 30, 20, 1);
	@include adaptive-value-base('padding-bottom', 30, 20, 1);
	background-color: var(--color-dark-900);

	&--fixed {
		position: fixed;
		transform: translateY(0);
		transition: transform 0.35s ease-out;
	}

	.menu {
		display: flex;
		gap: 30px;
		align-items: center;
		font-size: 16px;
		line-height: 1.3;

		&__link {
			position: relative;
			padding-bottom: 5px;

			&:before {
				position: absolute;
				color: var(--color-white);
				text-shadow: 0 0 1px rgba(var(--color-white), 0.3);
				transition: transform 0.3s, opacity 0.3s;
				content: attr(data-hover);
				pointer-events: none;
			}

			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-image: var(--gradient-main);
				transform: translateY(5px);
				opacity: 0;
				transition: transform 0.3s, opacity 0.3s;
				content: '';
			}

			&:hover {
				&::before {
					transform: translateY(-2px);
					opacity: 0;
				}

				&:after {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
}
.socials {
	display: flex;
	gap: 24px;
	align-items: center;

	@include mq(lg) {
		flex-wrap: wrap;
		gap: 28px;
		justify-content: center;
	}

	&__link {
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
		@include bg;

		&::before {
			@include mq(lg) {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 40px;
				height: 40px;
				transform: translate(-50%, -50%);
				content: '';
			}
		}
	}
}
