.portfolio-card {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: var(--color-dark-800);
	border-radius: 20px;

	&__media {
		position: relative;
		flex-shrink: 0;
		padding-bottom: 56%;
		border-radius: 20px 20px 0 0;
	}

	&__swiper {
		border-radius: inherit;

		@include resize-img;
	}

	&__picture,
	&__img {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	&__img {
		object-fit: cover;
	}

	&__button {
		top: 50%;
		background-color: var(--color-dark-800);
		border: 0;

		&--prev {
			&::after {
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: 30px;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__text {
		margin-bottom: 24px;
		font-size: 16px;

		p {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-top: auto;
		padding-top: 24px;
		border-top: 2px solid var(--color-dark-600);
	}
}

.video {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0 0;
	cursor: pointer;

	iframe,
	img {
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}

	iframe {
		border: 0;
		outline: 0;
	}

	&__play {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 80px;
			background-image: url('../img/icons/youtube.svg');
			transform: translate(-50%, -50%);
			content: '';
			@include bg;
		}
	}
}
